 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary qn-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Hey, my name's Jose. I'm a software developer and web designer based in New York, NY. <span class="page-scroll"><a href="#contact">Reach out</a></span> if you want to discuss any technical problems you're facing -- I'll be happy to work with you. If you're in NYC, <span class="page-scroll"><a href="#contact">let's meet</a></span>. You can find my most recent project below. To see some past problems I've worked on, check out <a href="assets/resume.pdf">my full PDF resume here</a>. </p>
                </div>
            </div>
        </div>
    </section>
