 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary qn-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <figure id="img-section">
                       <img class="img-responsive" src="img/profile.png" alt="">
                       <figcaption>Author next to Rothko's No. 3/No. 13, unsuitable for web color schemes</figcaption>
                   </figure>
                   <p style="padding-top:1em">My name is Jose Rosello. I'm a software developer by day, web designer by night, and all around music and visual arts fan based in New York, NY. 
                    
                   In the past, I have: 
                    
                    <ul>
                        <li>Brought joy to clients big and small</li> 
                        <li>Built web applications from scratch</li> 
                        <li>Maintained web applications in frameworks and languages unfamiliar</li> 
                        <li>Worked with small services in cool languages du jour</li>
                        <li>Worked with massive untested codebases in uncool languages of ye olde</li>
                        <li>Written, optimized, and diagnosed a lot of SQL queries</li>
                        <li>Stared at heap/thread dumps for too long</li>
                    </ul>
                    </p>
                    <p>
                   <span class="page-scroll"><a href="#contact">Please reach out</a></span> if you want to discuss any technical problems you're facing. 
                   If you happen to be in New York City, this can be done over coffee. 
                   </p>
                   <p>
                   You can find my most recent project below. To see some past problems I've worked on, check out <a href="assets/resume.pdf">my full PDF resume here</a>. </p>
                </div>
            </div>
        </div>
    </section>
